In [1]:
import pandas as pd

Create a DataFrame from a dictionary with columns 'Name', 'Age', and 'Gender'.

In [3]:
dataset = {
    'Name' : ["Vineet", "Sagar"],
    'Age' : [22, 23],
    'Gender' : ["M", "M"]
}

data = pd.DataFrame(dataset)
data

     Name  Age Gender
0  Vineet   22      M
1   Sagar   23      M

Load a CSV file into a DataFrame and display the first few rows.

In [4]:
data = pd.read_csv('data.csv')
data.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

Check the data types of each column in a DataFrame.

In [5]:
data.dtypes

Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object