In [1]:
import pandas as pd

Select a single column from a DataFrame.

In [5]:
data = pd.read_csv('data.csv');
data['Duration']

0      60
1      60
2      60
3      45
4      45
       ..
164    60
165    60
166    60
167    75
168    75
Name: Duration, Length: 169, dtype: int64

Select multiple columns from a DataFrame

In [4]:
data[['Duration', 'Calories']]

     Duration  Calories
0          60     409.1
1          60     479.0
2          60     340.0
3          45     282.4
4          45     406.0
..        ...       ...
164        60     290.8
165        60     300.0
166        60     310.2
167        75     320.4
168        75     330.4

[169 rows x 2 columns]

Select rows based on a condition (e.g., age > 30)

In [13]:
for x in data.index:
    if data.loc[x, 'Calories']>400:
        print(data.loc[x, 'Calories'])

409.1
479.0
406.0
415.0
643.1
486.0
450.7
413.0
1376.0
1034.4
853.0
800.4
873.4
816.0
1500.2
1115.0
700.0
953.2
563.2
500.4
1729.0
500.0
1000.1
600.1
604.1
500.0
500.0
500.4
800.3
500.3
1860.4
443.0
466.4
470.2
409.4

Select a subset of rows and columns using both row and column labels.

In [16]:
subset = data.loc[[0, 1, 2, 3], ['Duration', 'Calories']]
subset

   Duration  Calories
0        60     409.1
1        60     479.0
2        60     340.0
3        45     282.4