In [12]:
import pandas as pd

Pivot a DataFrame to convert unique values in one column into multiple columns.

In [13]:
# Create a DataFrame
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 32, 30], 'City': ['London', 'New York', 'Paris']})

# Pivot the DataFrame
df = df.pivot(index='Name', columns='City', values='Age')

# Print the DataFrame
print(df)

City     London  New York  Paris
Name
Alice      25.0       NaN    NaN
Bob         NaN      32.0    NaN
Charlie     NaN       NaN   30.0

Melt a DataFrame to convert multiple columns into a single column with key-value pairs.

In [14]:
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 32, 30], 'City': ['London', 'New York', 'Paris']})

df_melted = pd.melt(df, id_vars=["Name"], value_vars=["City", "Age"])

print(df_melted)

      Name variable     value
0    Alice     City    London
1      Bob     City  New York
2  Charlie     City     Paris
3    Alice      Age        25
4      Bob      Age        32
5  Charlie      Age        30

Stack and unstack levels of a multi-index DataFrame.

In [15]:
# Create a DataFrame with a multi-index
df = pd.DataFrame({'A': [1, 2, 3], 'B': [3, 4, 5], 'C': [7, 8, 9]},
                  index=pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1)],
                                                  names=['level_1', 'level_2']))

df

                 A  B  C
level_1 level_2
a       1        1  3  7
        2        2  4  8
b       1        3  5  9

In [16]:
# Stack the DataFrame
df_stacked = df.stack()

# Print the stacked DataFrame
print(df_stacked)

# Unstack the DataFrame
df_unstacked = df_stacked.unstack()

# Print the unstacked DataFrame
print(df_unstacked)

level_1  level_2
a        1        A    1
                  B    3
                  C    7
         2        A    2
                  B    4
                  C    8
b        1        A    3
                  B    5
                  C    9
dtype: int64
                 A  B  C
level_1 level_2
a       1        1  3  7
        2        2  4  8
b       1        3  5  9